@page 
<h1>About Us</h1>
<body>
    <div class="background1">
   
@*     <img class="background1" src="/lib/images/pexels-photo-artisan.jpeg" />
 *@    <p class="paragraph">
        Here at KhumaloCraft Emporium our pride in our craftmanship and shows with in our products spreading from the variety of creative and cultural products.<br>
        Established by the visonary entrpreneur James Khumalo, his elimate goal for this plaform is to being light of unseen talents showcase their handmade pieces to the world to wittness.<br>
        KhumaloCraft Emporium is dedicate to bring forward the passion of the craftmanships products to an accessible, user friendly e-commence experience and scalable platform. <br>
        Join us in celebating the artistry and creativity of artistans worldwide, as we strive to make their dreans reality.
       </p>

    </div>
</body>

