@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="banner">
    <h1 class="display-4">KhumaloCraft</h1>

</div>

<div class="text-center">
    <h2>Home Decor Products:</h2>
    <br />
    <p>Transform your living space with KhumaloCraft's exquisite handcrafted home decor, where artisanal mastery meets timeless elegance.</p>
    <br />
    <h2>Gifts Products:</h2>
    <br />
    <p>Discover the perfect gift for any occasion with KhumaloCraft's curated selection of handmade treasures, where each item is crafted with care and imbued with the essence of artisanal excellence.</p>
    <br />
    <h2>Jewellery Products:</h2>
    <br />
    <p>Discover the elegance of artisan-crafted jewelry at KhumaloCraft Emporium, where every piece reflects exquisite design, meticulous craftsmanship, and timeless beauty.</p>
    <br />
    <h2>Beauty Products:</h2>
    <br/>
   <p>Indulge in the artistry of natural beauty with KhumaloCraft's exquisite line of handcrafted beauty products, meticulously formulated to enhance and nourish your skin with the purest ingredients from around the world.</p>
    <h2>Accessories Products:</h2>
    <br/>
    <p>Elevate your style with our handcrafted adornments, each piece meticulously crafted to add a touch of elegance and uniqueness to your ensemble.</p>
    <br/>


</div>

<div class="mini-nav">
    <h4>Shop on KhumaloCraft</h4>
    <ul style="list-style-type:none">
        <li><a href="">What's New</a></li>
        <li><a href="">Best sellers</a></li>
        <li><a href="">Sale</a></li>
        <li><a href="">Home Decor</a></li>
        <li><a href="">Jewellery</a></li>
        <li><a href="">Gifts, Accessories and Beauty</a></li>

        <!--<a href="">
             </href>
             <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </ul>
</div>


