@page
@model NewWeb.Pages.My_WorkModel
@{
}

<h1> Welcome to KhumaloCraft Emporium </h1>
<body>
    <div class="Work-paragraph">
        <p>
            Here at Khumalo Emporium, brings to you the idea which was formed with the unreal combination of passions, creativty and skill in curating a diverse collection of South African, global handcrafted gems from artisans <br />
            around the world. Each pieces speak on the orgain of their story, showcasing the skill, creativity, and cultural hertiage <br/>
            of its maker. Feel welcome to explore through diverse selcetion of craftwork below: 

            What followed was a creative collaboration of business and marketing experience, market research and lengthy discussions with South African creatives and artisans. The idea that formed was a perfect combination of passion,<br> 
            experience and skill that collided to become something unique to offer South African creators and those looking to buy uniquely crafted products.
        </p>

    </div>
    <div class="MyWorkContainer">
        <div class="column">
            <h2>Jewellery </h2>
            <img src="/lib/images/pexels-photo-Jewellery.jpeg" alt="jewellery" style="width:100%" />
        </div>
        <div class="column">
            <h2>Home Decor </h2>
            <img src="/lib/images/pexels-meruyert-gonullu-6243342.jpg" alt="DECOR" style="width:100%" />
        </div>
        <div class="column">
            <h2>Gifts </h2>
            <img src="/lib/images/pexels-askar-abayev-.jpg" alt="jewellery" style="width:100%" />
        </div>
    </div>

    <div class="Work-paragraph-bottom">
      

        <p>
            By choosing to shop with KhumaloCraft Emporium, you're not just purchasing a product – you're investing in authenticity and supporting local handmade artisans. <br />
            We believe in fostering effective communication and acknowledgment between buyers and sellers, creating a community where craftsmanship is truly valued and appreciated. <br />
            And Help us continue celebrate the imperfections that make each piece special, recognizing that true artistry lies in the expression and talent of mastering one's craft. Through KhumaloCraft Emporium, <br />
            artisans are provided with the space and support they need to refine their skills and share their creations with the world.
        </p>
    </div>

    <div class="MyWorkContainer">
        <div class="column">
            <h2>Accessories: </h2>
            <img src="/lib/images/pexels-accessories.jpg" alt="jewellery" style="width:100%" />
            <br>
            <br>
            <p>
                Earrings : R70 - R100 <br />
                Jewellery: R75 - R170 <br />
                Bags: R550 and up <br />
            </p>
        </div>

        <div class="column">
            <h2>Home Decor: </h2>
            
            <p> Furniture and art pieces: <br>

                Cushions: R350.00 <br>
                Art pieces: Range from (R150 - R950) <br>
                Handmade art pieces: R150 - R200


            </p>
            <img src="/lib/images/pexels-cushion.jpg" alt="furniture" style="width:100%" />
        </div>
        <div class="column">
            <h2>Beauty Product: </h2>
            <img src="/lib/images/pexels-skin care products-4055794.jpg" alt="beauty" style="width:100%" />
            <br>
            <br>
            <p>Moisturiser and lotion <br>

               All natural moisturier: R105.00 <br>
               Lotion: R95.00 <br>
               Bath bombs: R28.00

            </p>  
        </div>
    </div>
</body>
